body {
	--width           : 400px;
	--width-two       : 200px;
	--font-weight     : bold;
	--calculated-width: calc(var(--width) - var(--width-two));
	--border          : 1px solid black;
}

.parent {
	font-weight: bold;
	border     : var(--border);
	width      : var(--width);
}

a {
	text-decoration: inherit;
	border         : inherit;
	border-color   : blue;
}

.children {
	font-weight          : normal;
	text-decoration      : none;
	width                : var(--calculated-width);
	/* width             : 40%; */
}

.container {
	width           : 100vw;
	height          : 300px;
	background-color: aqua;
	position        : relative;
}

.item {
	width           : 20px;
	height          : 20px;
	background-color: burlywood;
	position        : absolute;
	top             : 0px;
	left            : 0px;
}

.first {
	background-color: blue;
	width           : 80px;
	z-index         : 3;
}

.third {
	background-color: burlywood;
	width           : 50px;
	z-index         : 3;
}

.second {
	z-index         : 3;
	background-color: black;
	border-radius   : 10px;
}